   
.ui-datepicker tbody, .ui-datepicker td, .ui-datepicker td a {
    border-bottom: medium none;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 20px;
    min-width: 0px;
}

.ui-datepicker th {
    min-width: 0px;
    width: 19px;
}

table tr td {
    border-bottom: none;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    min-width: 300px;
}

input[type=radio] {
    float: none;
    width: auto;
    margin: 6px;
    padding: 0;
    line-height: 26px;
}

tbody {
    width: 100%;
    min-width: 750px;
}

.checkbox input[type="checkbox"] {
    margin-bottom: 0px;
} 

form .required label {
    color: #e32;
    content: '*';
    display:inline;
}

td > div.input.error, td > div.input .error-message
{
    color: #9E2424;
    background: #FFDACC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
}

td > div.input.error
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
    padding-top: 5px;
}

input.other.form-error
{
    margin-bottom: 10px;
}
