#selectable .ui-selecting 
{ 
	background: #33a3b9; 
}
#selectable .ui-selected 
{ 
	background: #3383bb;
	color: white;
}

#selectable 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 750px; 
}

#selectable li 
{
	float: left;
	margin: 0px 5px 5px 0px;
	width: 125px;
	text-transform: uppercase;
}

#selectable li .outerContainer
{
	display: table;
	height: 100px;
	overflow: hidden;
	width: 125px;
}

#selectable li .outerContainer .innerContainer
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#selectable li .outerContainer .innerContainer .element
{
	text-decoration: none;
	padding: 0px 10px;
	width: 105px;
	word-wrap: break-word;
}


#custom_report_button
{
	padding: 20px;
}

#custom-report-options thead, #custom-report-options tbody
{
	display: table-row-group;
}

#custom-report-select .footer
{
	clear: both;
	position: relative;
	bottom: 0%;
}